header {
    display: block;
    font-size: 1vw;
    border-top: 1px solid rgba(240, 248, 255, 0.25);
    border-bottom: 1px solid rgba(240, 248, 255, 0.25);
    text-align: right;
}

body {
    background-color: rgb(20, 39, 54);
    color: aliceblue;
    font-family: Cambria;
    font-size: 1vw;
    font-weight: lighter;
    margin: auto;
    width: 800px;
    max-width: 100%;
    text-align: left;
}

img {
    border-radius: 25%;
    display: block;
}

a {
    color: aliceblue;
    font-style: normal;
    text-decoration: none;
}

h1 {
    font-size: 1.9vw;
}

p {
    text-align: left;
}