body {
    background-color: rgb(20, 39, 54);
    color: aliceblue;
    font-family: Cambria;
    font-size: 20px;
    font-weight: lighter;
}

#page-container {
    position: relative;
    min-height: 100vh
}
#content-wrap {
    padding-top: 1.75rem;
    padding-bottom: .5rem;
    margin: auto;
    width: 800px;
    max-width: 90%;
    text-align: left;
}

header {
    display: block;
    background-color: rgb(37, 50, 59);
    border-top: 1px solid rgba(240, 248, 255, 0.25);
    border-bottom: 1px solid rgba(240, 248, 255, 0.25);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: fit-content;
}

#header-text {
    font-size: calc(15px + .4vw);
    margin: auto;
    width: 95vw;
    text-align: left;
    @media screen and (min-width: 768px) {
        text-align: center;
    }
}

footer {
    display: block;
    background-color: rgb(37, 50, 59);
    font-size: calc(8px + .4vw);
    border-top: 1px solid rgba(240, 248, 255, 0.25);
    border-bottom: 1px solid rgba(240, 248, 255, 0.25);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: fit-content;
}

.pfp {
    border-radius: 25%;
    display: block;
    width: 80%;
    margin: auto;
    @media only screen and (min-width: 768px) {
        width: 13.125vw;
        float: right;
    }
}

.github {
    padding-bottom:5px;
    display:block;
}

a {
    color: aliceblue;
    font-style: normal;
    text-decoration: none;
}

h1 {
    font-size: calc(16px + .5vw);
    text-align: center;
    @media only screen and (min-width: 768px) {
        float: inline-start;
        text-align: left;
    }
}

#abouttitle {
    font-size: 38px;
    text-align: center;
    width:100%;
}

p {
    text-align: left;
}